<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>DwayneBot About</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styling/about.css">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <div class="container">
      <h1 id="logo">DwayneBot</h1>
      <nav>
          <ul>
              <li>Home</li>
              <li id="hom">About</li>
              <li>Chat</li>
              <li>Pricing</li>
              <li>Cart</li>
          </ul>
      </nav>
    </div>
  </header>

  <section class="about-box">
    <div class="about-card">
      <h1>Welcome to DwayneBot</h1>
      <p>Ready to unleash your inner champion? <span>DwayneBot</span> is your personal AI assistant designed to help you crush your fitness goals, master your meal prep, and get that motivation boost you need to accomplish anything you put your mind to. Powered by ChatGPT’s 3.5 Turbo, this AI is more than just a bot – it’s your new best training partner in the form of Dwayne <i>The Rock</i> Johnson himself!</p>
      <p>Whether you're hitting the gym, planning your next meal, or need that extra push to keep going, <span>DwayneBot</span> has your back. <strong>Can you smell what DwayneBot is cooking?</strong> It’s a whole lot of motivation, muscle-building workouts, and clean eating tips!</p>
      <p>Get ready to break your limits and become the best version of yourself. <strong>Let’s go, baby!</strong></p>
      <div>
      <a href="chat.html" class="cta-button">Ready to Rock? Make It Happen!</a>
      
      <p style="font-size: 1.05rem; color: #f29e0c; margin-top: 35px; font-style: italic;">
          *<strong>Disclaimer: DwayneBot provides motivational content and general advice. Always consult a professional for personalized guidance.</strong>*
      </p>
    </div>
  </section>
</body>
</html>
